<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Meetups</title>
  <link rel="stylesheet" href="/stylesheets/normalize.css" />
  <link rel="stylesheet" href="/stylesheets/app.css" />
</head>

<body>
<h1>Meetup Info Page</h1>

<p>Meetup: <br><%=@meetup.name%></p>
<p>Description:<br><%=@meetup.description%></p>
<p>Location: <br><%=@meetup.location%></p>
<p>Members: <br></p>
  <%@meetup.users.each do |member|%>
    <p><img src = '<%=member.avatar_url%>' width = '30'/> <%=member.username%></p>
  <%end%>

  <%if @membership.present?%>
    <form action="/memberships/<%= @membership.id %>" method="post">
    <input type="submit" name="Leave" value="Leave"/>
    <input type = "hidden" name = "_method" value = "delete"/>
    </form>
  <%else%>
    <form action="/meetup/<%= @meetup.id %>/memberships" method="post">
    <input type="submit" name="Join" value="Join"/>
    </form>
  <%end%>

<p>Comments:</p>
<div>
  <ul>
  <%if @comments.present?%>
    <%@comments.each do |comment|%>
      <li>
        <div>
          <p><%=comment.title%></p>
          <p><%=comment.body%></p>
        </div>
      </li>
    <%end%>
  <%end%>
  </ul>
</div>


<h3>Add a comment!</h3>
<form action="/meetup/<%=@meetup.id%>/comment" method="post">
  <label for="comment">Title:</label><br>
  <input type="text" id="title" name="title" /><br>
  <label for="comment">Your comment:</label><br>
  <input type="text" id="body" name="body" /><br><br>
  <input type="submit" />
</form>
</body>
</html>
